body {
  /* background: yellow; */
  font-family: 'Niramit', sans-serif;
}

.container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */
.nav {
  height: 5vh;
  position: relative;
}

.nav-title {
  position: absolute;
  left: 0px;
  animation: float 2s infinite;
}

.nav-title:hover {
  transition: 1s ease-out;
  transform: scale(2);
}

@keyframes float {
  0% {transform: translateX(0px);}
  50% {transform: translateX(64px);}
  100% {transform: translateX(0px);}
}

.nav-links {
  position: absolute;
  right: 0px;
}

.nav-links >a:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.larger-text {
  font-size: 50px;
}

.my-img {
  width: 20%;
  height: 20%;
}

/* Sections */
.home {
  height: 80vh;
}

.education-list {
  display: flex;
  flex-direction: row;
}

.education-img {
  height: 25vh;
  width: auto;
}

.education {
  width: 1;
  padding-right: 20px;
}

.education-text {
  width: 25vw;
}

.education-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.programming-img {
  width: 15vw;
  height: auto;
  padding-right: 5vw;
}

.programming-text {
  width: 20vw;
}


.work {
  background: yellow;
}

.work-container {
  background: rgb(255, 255, 200);
}

.work-title {
  font-size: 48px;
}

.project-title {
  font-size: 24px;
}

.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project {
  width: 1;
  height: 1;
}

.project-img {
  width: 20vw;
  height: auto;
}

.project-text {
  width: 20vw;
}

.contact-container {
  height: 20vh;
}

.contact-links {
  display: flex;
  flex-direction: row
}

.contact {
  height: 5vh;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width 700px) {
  .projects-list{
    flex-direction: column;
  }
  .work {
    height: auto;
  }
  .project {
    width: 90vw;
  }
  .project >p {
    margin: 0px;
  }
}
